{%load static%}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pick Up Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/login.css'%}">
  </head>
  <body>
    {%load crispy_forms_tags%}
    <div class="center">
      <h1>PickUp Login</h1>
      <form method="post" class = "form-group" name>
        <div class = text-field>    
            {%csrf_token%}
            {{form|crispy}}
        </div>
        <br>
        <button type ="submit" class = "btn btn-primary"> Login </button>
        <div class="signup_link">
          New to PickUp? Click to <a href="/register.html">Register</a>
        </div>
      </form>
    </div>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>